## –î–∏–ø–ª–æ–º–Ω–∞—è —Ä–∞–±–æ—Ç–∞ –Ω–∞ —Ç–µ–º—É "–ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ —Ü–µ–Ω –Ω–∞ –ø–æ–¥–¥–µ—Ä–∂–∞–Ω–Ω—ã–µ –∞–≤—Ç–æ–º–æ–±–∏–ª–∏ –≤ –°–®–ê –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–∏ —Å –¥–∞–Ω–Ω—ã–º–∏ —Å–∞–π—Ç–∞ craigslist.org"

## 1. –û–ø–∏—Å–∞–Ω–∏–µ

Craigslist.org - –æ–¥–Ω–∞ –∏–∑ –∫—Ä—É–ø–Ω–µ–π—à–∏—Ö –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-–ø–ª–æ—â–∞–¥–æ–∫ —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ã—Ö –æ–±—ä—è–≤–ª–µ–Ω–∏–π –≤ –º–∏—Ä–µ, –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª—å–∑—É—é—â–∞—è—Å—è –±–æ–ª—å—à–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å—é –≤ –°–®–ê. –ü–æ–¥–∞–≤–ª—è—é—â—É—é —á–∞—Å—Ç—å —ç—Ç–æ–≥–æ —Å–∞–π—Ç–∞ –∑–∞–Ω–∏–º–∞—é—Ç –æ–±—ä—è–≤–ª–µ–Ω–∏—è –æ –ø—Ä–æ–¥–∞–∂–µ –ø–æ–¥–¥–µ—Ä–∂–∞–Ω–Ω—ã—Ö –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–π. 

–ü—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π [–Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö](https://www.kaggle.com/austinreese/craigslist-carstrucks-data) –æ–±–Ω–æ–≤–ª—è–µ—Ç—Å—è –∫–∞–∂–¥—ã–π –º–µ—Å—è—Ü –∏ —Å–æ–¥–µ—Ä–∂–∏—Ç –∏—Å—á–µ—Ä–ø—ã–≤–∞—é—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ–± –∞–≤—Ç–æ–º–æ–±–∏–ª—è—Ö, –∫–æ—Ç–æ—Ä—É—é –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ—Ç —Å–∞–π—Ç craigslist.org, –≤–∫–ª—é—á–∞—è —Å–≤–µ–¥–µ–Ω–∏—è –æ –º–∞—Ä–∫–µ –∏ –º–æ–¥–µ–ª–∏ –∞–≤—Ç–æ–º–æ–±–∏–ª—è, –µ–≥–æ —Å–æ—Å—Ç–æ—è–Ω–∏–∏, —Ü–µ–Ω–µ –ø—Ä–æ–¥–∞–∂–∏, –ø—Ä–æ–±–µ–≥–µ –∏ —Ç.–¥. –ê–∫—Ç—É–∞–ª—å–Ω–∞—è –≤–µ—Ä—Å–∏—è –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –æ—Ç 09.2020

–í —Ä–∞–º–∫–∞—Ö –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –¥–∏–ø–ª–æ–º–Ω–æ–π —Ä–∞–±–æ—Ç—ã –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–µ—à–∏—Ç—å –∑–∞–¥–∞—á—É —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –∏ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â—É—é –º–æ–¥–µ–ª—å, –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞—é—â—É—é —Ü–µ–Ω—ã –Ω–∞ –ø–æ–¥–¥–µ—Ä–∂–∞–Ω–Ω—ã–µ –∞–≤—Ç–æ–º–æ–±–∏–ª–∏. –î–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç—Ä–∏–∫—É RMSE.

## 2. Data Understanding

### 2.1. –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –±–∏–±–ª–∏–æ—Ç–µ–∫

In [30]:
# modelling helpers
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# data handling and preparation
import numpy as np
import pandas as pd

# visualization
from jupyterthemes import jtplot
from scipy.stats import norm
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
jtplot.style()

### 2.2. –í—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏

In [43]:
def print_obj_columns(data):
    obj_cols = list(data.select_dtypes(include=['object']).columns)
    for col in data[obj_cols]:
        print(f'{col}:')
        print(f'Len of unique items list: {len(data[col].unique())}')
        if len(data[col].unique()) > 20:
            print(f'{data[col].unique()[:5]}')
        else:
            print(f'{data[col].unique()}')
        print('-'*40)

        
def plot_variable_importance(X, y):
    tree = RandomForestRegressor(random_state = 419)
    tree.fit(X, y)
    plot_model_var_imp(tree, X, y)
    
    
def plot_model_var_imp(model, X, y):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = ['Importance'] , 
        index = X.columns 
    )
    imp = imp.sort_values(['Importance'], ascending=True)
    imp[:10].plot(kind = 'barh')

### 2.3. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [38]:
data = pd.read_csv('./data/external/vehicles.csv')
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner‚Äîmust sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648

In [34]:
data.shape

(423857, 25)

**–û–ø–∏—Å–∞–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö**

–ü—Ä–∏–∑–Ω–∞–∫–∏:
* –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä
* url
* —Ä–µ–≥–∏–æ–Ω
* url —Ä–µ–≥–∏–æ–Ω–∞
* –≥–æ–¥ –≤—ã–ø—É—Å–∫–∞
* –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å
* –º–æ–¥–µ–ª—å
* —Å–æ—Å—Ç–æ—è–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
* –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ü–∏–ª–∏–Ω–¥—Ä–æ–≤
* —Ç–∏–ø —Ç–æ–ø–ª–∏–≤–∞
* –ø—Ä–æ–±–µ–≥
* —Ç–µ—Ö.–ø–∞—Å–ø–æ—Ä—Ç
* —Ç–∏–ø –∫–æ—Ä–æ–±–∫–∏ –ø–µ—Ä–µ–¥–∞—á
* VIN-–Ω–æ–º–µ—Ä
* –ø—Ä–∏–≤–æ–¥
* —Ä–∞–∑–º–µ—Ä
* —Ç–∏–ø –∫—É–∑–æ–≤–∞
* —Ü–≤–µ—Ç
* url –∏–∑–æ–±—Ä–∞–∂–µ–Ω–∏—è
* –æ–ø–∏—Å–∞–Ω–∏–µ
* –æ–∫—Ä—É–≥
* —à—Ç–∞—Ç
* –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã —à–∏—Ä–æ—Ç—ã
* –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã –¥–æ–ª–≥–æ—Ç—ã

–¶–µ–ª–µ–≤–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è:
* —Ü–µ–Ω–∞ (–≤ –¥–æ–ª–ª–∞—Ä–∞—Ö –°–®–ê)

### 2.4. EDA

#### 2.4.1. –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑

–ü—Ä–æ–≤–µ–¥–µ–º –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ü–∏–∏ –≤—ã–±—Ä–æ—Å–æ–≤, –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ —è–≤–ª—è—é—Ç—Å—è –ª–∏—à–Ω–∏–º–∏ –∏ –æ—Ç –∫–æ—Ç–æ—Ä—ã—Ö –º–æ–∂–Ω–æ –∏–∑–±–∞–≤–∏—Ç—å—Å—è.

In [45]:
data.describe()

,id,price,year,odometer,county,lat,long
count,4.238570e+05,4.238570e+05,328743.000000,2.705850e+05,0.0,324404.000000,324404.000000
mean,7.190602e+09,5.779437e+04,2009.827358,9.942578e+04,NaN,38.731429,-93.949367
std,5.159269e+06,1.002581e+07,10.135809,1.204833e+05,NaN,5.902977,17.930566
min,7.178302e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-80.386400,-161.394000
25%,7.186688e+09,4.499000e+03,2007.000000,4.432400e+04,NaN,35.054500,-106.678000
50%,7.192068e+09,9.995000e+03,2012.000000,9.174900e+04,NaN,39.366900,-88.009900
75%,7.194909e+09,1.899500e+04,2016.000000,1.372370e+05,NaN,42.517075,-80.832500
max,7.197006e+09,3.808256e+09,2021.000000,1.000000e+07,NaN,80.383400,115.524000

In [36]:
print_obj_columns(data)

url:
Len of unique items list: 423857
['https://duluth.craigslist.org/ctd/d/duluth-2000-gmc-new-sierra-1500-ext-cab/7184791621.html'
 'https://duluth.craigslist.org/cto/d/saginaw-2013-hyundai-sonata-gls/7184773187.html'
 'https://newhaven.craigslist.org/cto/d/stratford-2013-toyota-prius-2-wagon-4d/7193375964.html'
 'https://albuquerque.craigslist.org/cto/d/albuquerque-mitsubishi-lancer-evolution/7195108810.html'
 'https://duluth.craigslist.org/ctd/d/rush-city-2007-gmc-sierra-classic/7184712241.html']
----------------------------------------
region:
Len of unique items list: 404
['duluth / superior' 'new haven' 'albuquerque' 'lubbock'
 'fargo / moorhead']
----------------------------------------
region_url:
Len of unique items list: 413
['https://duluth.craigslist.org' 'https://newhaven.craigslist.org'
 'https://albuquerque.craigslist.org' 'https://lubbock.craigslist.org'
 'https://fargo.craigslist.org']
----------------------------------------
manufacturer:
Len of unique items list: 44
['gmc' 'hyundai' 'toyota' 'mitsubishi' 'ford']
----------------------------------------
model:
Len of unique items list: 27043
['new sierra 1500' 'sonata' 'prius' 'lancer' 'sierra classic 2500hd']
----------------------------------------
condition:
Len of unique items list: 7
['excellent' 'good' 'fair' nan 'like new' 'salvage' 'new']
----------------------------------------
cylinders:
Len of unique items list: 9
['8 cylinders' '4 cylinders' '6 cylinders' nan '10 cylinders'
 '12 cylinders' '5 cylinders' '3 cylinders' 'other']
----------------------------------------
fuel:
Len of unique items list: 6
['gas' 'hybrid' 'diesel' 'other' 'electric' nan]
----------------------------------------
title_status:
Len of unique items list: 7
['clean' 'lien' 'rebuilt' 'salvage' 'missing' 'parts only' nan]
----------------------------------------
transmission:
Len of unique items list: 4
['automatic' 'manual' 'other' nan]
----------------------------------------
vin:
Len of unique items list: 103589
['1GTEK19T3YE366021' nan '1GTHK23D57F102022' '1FTFW1ET4CFC98801'
 '2CNFLGEW7A6215676']
----------------------------------------
drive:
Len of unique items list: 4
['4wd' 'fwd' 'rwd' nan]
----------------------------------------
size:
Len of unique items list: 5
[nan 'mid-size' 'full-size' 'compact' 'sub-compact']
----------------------------------------
type:
Len of unique items list: 14
[nan 'sedan' 'truck' 'SUV' 'other' 'mini-van' 'wagon' 'hatchback' 'coupe'
 'pickup' 'convertible' 'van' 'bus' 'offroad']
----------------------------------------
paint_color:
Len of unique items list: 13
['red' 'grey' 'blue' 'white' 'custom' 'silver' 'brown' 'black' nan
 'purple' 'green' 'orange' 'yellow']
----------------------------------------
image_url:
Len of unique items list: 222414
['https://images.craigslist.org/00n0n_f06ykBMcdhK_0cU09G_600x450.jpg'
 'https://images.craigslist.org/00d0d_kgZ6xoeRw2E_0CI0t2_600x450.jpg'
 'https://images.craigslist.org/00d0d_3sHGxPbY2Ot_0t20t2_600x450.jpg'
 'https://images.craigslist.org/00m0m_4a8Pb6JbMGy_0CI0t2_600x450.jpg'
 'https://images.craigslist.org/01414_g093aPtSMWU_0cU09G_600x450.jpg']
----------------------------------------
description:
Len of unique items list: 275766
['2000 *** GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL  ***    Drive it home today!Call ‚òè (218) 729‚àí7360  Luxury Imports Inc. 5471 Miller Trunk Highway, Hermantown, MN 55811Copy & Paste the URL belowto view more information!http://luxuryimportsinc.us    \t\t\tYear : 2000\t\t\t\tMake : GMC\t\t\t\tModel : New Sierra 1500\t\t\t\tTrim : Ext Cab 157.5  WB 4WD SL\t\t\t\t   Mileage : 167,783 miles\t\t\t\tTransmission : Automatic\t\t\t\tExterior Color : Red\t\t\t\t\tSeries : Ext Cab 157.5  WB 4WD SL \t\t\t\tDrivetrain : 4WD\t\t\t\tCondition : Excellent\t\t\t\tVIN : 1GTEK19T3YE366021\t\t\t\tStock ID : 366021\t\t\t\tEngine : 5.3L 285.0hp\t   \tDescription of this GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL \t \t**www.luxuryimportsinc.us**Be sure to visit our website for additional details and photos as well as take advantage of the FREE Carfax for all available inventory, provided for you by Luxury Imports!  Ask your sales representative about extended warranties and financing options that may be available.  Feel free to call or stop in to schedule a test drive!        Call  (218) 729‚àí7360 for quick answers to your questions about this GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL.   ‚≠êGreat Financing Options‚≠ê‚úÖ Get Approved Todayüëâ Go to : luxuryimportsinc.us   Then Click The Financing Tab To Get Approved Today!‚≠ê Luxury Imports Inc. ‚≠ê‚úÖ Free Carfax Reports On All Vehicles ‚úÖ Extended Warranties Available ‚úÖ We Love Trade-ins ‚úÖ We Buy Sell & Trade All Makes And Models‚úÖ FOR MORE OF OUR ADS ON CRAIGSLIST, CHECK OUT THIS PAGE :https://duluth.craigslist.org/search/ctd?query=luxuryimportsinc.us  ***** GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL  *****  2001, 2002, 2003, 2000, 1999, 1998, 1997, GMC New Sierra 1500, Jimmy, Pickup, Safari, Savana 1500, Sierra 1500, Sierra 3500, Sierra 2500, Suburban, Sonoma, Van, Yukon, Savana 3500, Savana 2500, Envoy, Yukon XL, Envoy XL   Disclaimer :      Drive it home today!Call ‚òè (218) 729‚àí7360  Luxury Imports Inc. 5471 Miller Trunk Highway, Hermantown, MN 55811Copy & Paste the URL belowto view more information!http://luxuryimportsinc.us   2000 00 *GMC* *New Sierra 1500* *Cheap Ext Cab 157.5  WB 4WD SL* \t\t*Like New 2000 Ext Cab 157.5  WB 4WD SL * *5.3L 285.0hp* \t\t*Must See 2000 GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL Gasoline - \t\t2000 GMC New Sierra 1500  new sierra 1500 NEW SIERRA 1500 Ext Cab 157.5  WB 4WD SL Gasoline  Cheap -  \t\t2000 GMC New Sierra 1500 (Ext Cab 157.5  WB 4WD SL) Carfax Gasoline 5.3L 285.0hp -  \t\t2000 GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL  5.3L 285.0hp Gasoline  -  \t\tGMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL    \t\t*SCHEDULE YOUR TEST DRIVE 2000 GMC New Sierra 1500  NewSierra1500 newsierra1500 NEWSIERRA1500 5.3L 285.0hp Ext Cab 157.5  WB 4WD SL Gasoline *   \t\t*GMC* *New Sierra 1500* 2000 GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL Gasoline    \t\t*2000 GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL  \t\t*Luxury Imports Inc.* *Call us today at (218) 729‚àí7360.* \t\t2001 GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL 5.3L 285.0hp - \t\tHave you seen this 2002 GMC New Sierra 1500 Ext Cab 157.5  WB 4WD SL  ?  \t\tMust See 2003 GMC New Sierra 1500  Ext Cab 157.5  WB 4WD SL Gasoline   \t\t*For Sale New Sierra 1500* *New Sierra 1500* *Carfax Ext Cab 157.5  WB 4WD SL Gasoline   \t\tCome test drive this amazing *GMC* *New Sierra 1500* *(EXT CAB 157.5  WB 4WD SL)* *Gasoline*  Ext Cab 157.5  WB 4WD SL  Gasoline  Gasoline* \t\t*(GMC)* *(New Sierra 1500)* *Ext Cab 157.5  WB 4WD SL* *5.3L 285.0hp* *(GASOLINE)* *Bad Credit* \t\t*Gasoline* **  *Super Vehicle Gasoline Call this number (218) 729‚àí7360* *5.3L 285.0hp* *Luxury Imports Inc.* * Good Credit* \t\t2000 1999 1998 1997  \t\t*This vehicle is a used GMC New Sierra 1500* *No Credit* \t\t*It is like New Ext Cab 157.5  WB 4WD SL* *5.3L 285.0hp Gasoline*  \t\t*Gasoline* 1996 1995 1994 1993 1992 1991'
 'For Sale:  2013 Hyundai Sonata GLS - $8750.  One owner car.  Majority highway miles.  Set of snow tires and rims included. Call Bob at 218-4two8-749three.'
 '2013 Prius V Model Two. One owner‚Äîmust sell my well loved Prius. Moved to NYC and cannot keep my car.   The 2013 Toyota Prius V is available in three trim levels: the Two, the Three and the Five   Standard equipment on the base Two (this model) includes 16-inch alloy wheels, keyless ignition/entry, a tilt-and-telescoping steering wheel, rear-view camera, automatic climate control, cruise control, a height-adjustable driver seat, a fold-flat front passenger seat, a 60/40-split-folding rear seat that slides and reclines, and a six-speaker sound system with a CD player, an iPod/USB audio interface and Bluetooth connectivity/streaming audio.  Check out the pictures. Can show after 530pm. Message me if you want to make an appointment. Serious inquiries only please. I will take the listing down once it‚Äôs been sold'
 "2003 Mitsubishi Lancer Evolution, silver.  About 132,xxx mileage Bought the car as a project 2 years ago, became my daily car for the past 2 years. Am not sure what the previous owner did to it, so I bought the car as is. Its straight piped 3in exhaust, its cammed, boost control, upgraded intercooler and radiator.  Current issues:  Stripped out headliner and trunk (as shown in pictures)  Will need a clutch, pedals are starting to get stiff. Sunroof won't open Has a dent on the right quarter panel (shown on pictures)  Car could use a paint job. Car has not given me any issues for 2 years, perfect project car for anyone who has the time.  $12,500.00  Email me for more questions or also text me for more info or questions.  Five zero five - three 0 five - nine five 3 4  *dont need help selling the vehicle"
 '**Bad Credit, No Credit... No Problem!**2007 GMC Sierra Classic 2500HD SLT Crew Cab 4WD - $16,995   Year: 2007 Make:GMC Model:Sierra Classic 2500HD Trim:SLT Crew Cab 4WD Mileage:254,217 Stock #:254217 VIN:1GTHK23D57F102022 Trans:Automatic Color:White Vehicle Type:Truck State:MN Drive Train:4WD Engine:6.6L V8 OHV 32V TURBO DIESEL**Bad Credit, No Credit... No Problem!**Ask about guaranteed credit approval.\xa0  Vehicle Options 4WD/AWDABS BrakesAir ConditioningAM/FM RadioAutomatic HeadlightsDaytime Running LightsDriver AirbagFront Air DamFront Split Bench SeatFull Size Spare TireInterval WipersPassenger AirbagPickup Truck Cargo Box LightSecond Row Folding SeatSeparate Driver/Front Passenger Climate ControlsSteel WheelsTachometerTilt SteeringTilt Steering ColumnVehicle Anti-Theft  East Central Auto Sales 220 W 5th St Rush City  MN  5506932O-5OO-2886 CALL or TEXT or our office at  320-358-3888Go to www.Eastcentralautosales.com for more info and prices!  We sell all makes and models of Pre-owned, Used Vehicles, Used Cars, Used Trucks, Used Sport Utility, Ford, Chevrolet / Chevy, Honda, Toyota, Porsche, Land Rover, Jaguar, INFINITI, Audi, Nissan, Mazda, Hyundai, Chrysler, Jeep, Dodge, Ram, SRT, Mitsubishi, Lexus, Kia, Volkswagen, Mini, BMW, Mercedes, Fiat, Volvo, GMC, Cadillac, Lincoln as well as other brands. While every reasonable effort is made to ensure the accuracy of the information for these vehicles, we are not responsible for any errors or omissions contained on these pages. Please verify any information in question. All vehicles are subject to inventory availability and on approved credit. Any prices listed or shown include any discounts already and do not include tax, title, license, fees. There may be a service fee for credit cards. Images, prices, and options shown, including vehicle color, trim, options, pricing and other specifications are subject to availability, incentive offerings, current pricing and credit worthiness. LIMITED TIME OFFER! OAC See Dealer for details. Pricing and availability may vary based on a variety of factors, including options, dealer, specials, fees, and financing qualifications. Consult your dealer for actual price and complete details. Vehicles shown may have optional equipment at additional cost. Must finance thru Spire Credit Union and be well qualified. Residency restrictions apply. All vehicles are subject to inventory availability and with approved credit "O.A.C." or "W.A.C.".- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - 2005, 2006, 2007, 2004, 2003, 2002, 2001, 2011, 2012, 2013, 2014, 2015, 2016,1999 2000 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 99 00 01 02 03 04 05 06 07 08 09 10 11 12 13 4x4, AWD, F350, F 350, F-350, F-250, F250, F 250, F150, F-150, F 150, 1500, Silverado 2500, 2500HD, 3500, 3500HD, GMC, Lift, Lifted, Edge, AcadiaBatchID: WK0B8G48X6ID: 16496112']
----------------------------------------
state:
Len of unique items list: 51
['mn' 'ct' 'nm' 'tx' 'ny']
----------------------------------------

In [37]:
data.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year             95114
manufacturer    110615
model            98473
condition       247138
cylinders       226178
fuel             96643
odometer        153272
title_status     96098
transmission     95792
vin             239437
drive           192738
size            321230
type            182700
paint_color     201654
image_url        94196
description      94203
county          423857
state                0
lat              99453
long             99453
dtype: int64

**–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**

1. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏–∑–±–∞–≤–∏—Ç—å—Å—è –æ—Ç –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–µ –ø–æ–≤–ª–∏—è—é—Ç (–∏–ª–∏ –≤–ª–∏—è–Ω–∏–µ –±—É–¥–µ—Ç –∫—Ä–∞–π–Ω–µ –º–∞–ª–æ) –Ω–∞ –∫–æ–Ω–µ—á–Ω—É—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –ø—Ä–æ–¥–∞–≤–∞–µ–º–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è (–∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã, url'—ã, VIN-–Ω–æ–º–µ—Ä, –æ–ø–∏—Å–∞–Ω–∏–µ, –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã –∏ —Ç.–¥.).
2. –ó–∞–º–µ–Ω–∏—Ç—å –Ω—É–ª–µ–≤—ã–µ –ø–æ–∫–∞–∑–∞–Ω–∏—è —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –∏ –ø—Ä–æ–±–µ–≥–∞ –Ω–∞ —Å—Ä–µ–¥–Ω–∏–µ –ø–æ —Ä—ã–Ω–∫—É.
3. –ó–∞–º–µ–Ω–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è –≥–æ–¥–∞ –ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–∞ –Ω–∞ –≤–∑–≤–µ—à–µ–Ω–Ω—ã–µ.
4. –ó–∞–º–µ–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ —Å—Ä–µ–¥–Ω–∏–µ –∏–ª–∏ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (–≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –ø—Ä–∏–∑–Ω–∞–∫–∞).
5. –ó–∞–∫–æ–¥–∏—Ä–æ–≤–∞—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º OneHotEncoding (–¥–ª—è –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –ª–∏–Ω–µ–π–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –∏ –ø–æ–ª—É—á–µ–Ω–∏—è –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤).
6. –ü—Ä–æ–≤–µ–¥–µ–Ω–∏–µ over/undersampling –Ω–µ—Ü–µ–ª–µ—Å–æ–æ–±—Ä–∞–∑–Ω–æ. –£ –Ω–∞—Å –∏–º–µ–µ—Ç—Å—è –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–∞—è –≤—ã–±–æ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–∏.

#### 2.4.2. –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–ò–∑–±–∞–≤–∏–º—Å—è –æ—Ç –ª–∏—à–Ω–∏—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [22]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [46]:
drops = ['id', 'url', 'region', 'region_url', 'county', 'lat', 'long', 'state', 'image_url', 'description', 'vin', 'model']
reduced = data.drop(columns=drops)
reduced.head()

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,6995,2000.0,gmc,excellent,8 cylinders,gas,167783.0,clean,automatic,4wd,NaN,NaN,red
1,8750,2013.0,hyundai,excellent,4 cylinders,gas,90821.0,clean,automatic,fwd,NaN,NaN,grey
2,10900,2013.0,toyota,good,4 cylinders,hybrid,92800.0,clean,automatic,fwd,NaN,NaN,blue
3,12500,2003.0,mitsubishi,good,4 cylinders,gas,NaN,clean,manual,4wd,mid-size,sedan,grey
4,16995,2007.0,gmc,good,8 cylinders,diesel,254217.0,clean,automatic,4wd,full-size,truck,white

...